<?xml version="1.0" encoding="UTF-8"?>

<broker name="broker1">
 <executeGroup name="group1">
  <flow name="logtest1" instances="3" message_level="">
   <endpoint name="Http_Input" location="88,95" type="http_Input">
    <properties>
     <property name="port">8038</property>
     <property name="max-IdleTime">30000</property>
     <property name="protocol-Flag">http</property>
     <property name="context-Path">log</property>
     <property name="charset">utf-8</property>
     <property name="keystore-Path"></property>
     <property name="keystore-Password"></property>
    </properties>
   </endpoint>
   <endpoint name="http_Request" location="399,95" type="http_Request">
    <properties>
     <property name="auth-UserName"></property>
     <property name="proxy-Host"></property>
     <property name="content-Type">text/xml; charset=utf-8</property>
     <property name="auth-Password"></property>
     <property name="auth-Type">none</property>
     <property name="request-Method">POST</property>
     <property name="keystore-Path"></property>
     <property name="asyncThreadCount">3</property>
     <property name="keystore-Password"></property>
     <property name="proxy-Domain"></property>
     <property name="accept-Encoding">none</property>
     <property name="proxy-Workstation"></property>
     <property name="ws-Url">http://10.235.36.12:8080/EZSPservice/QueryDataServlet</property>
     <property name="proxy-Port"></property>
     <property name="protocol-Flag">http</property>
     <property name="http-Version">HTTP 1.1</property>
     <property name="connection-TimeOut"></property>
     <property name="proxy-Flag">false</property>
     <property name="keep-Alive">true</property>
     <property name="accept-Language"></property>
    </properties>
   </endpoint>
   <endpoint name="Http_Reply" location="706,93" type="http_Reply">
    <properties>
     <property name="content-Type"></property>
    </properties>
   </endpoint>
   <endpoint name="log1" location="243,94" type="visit_log">
    <properties>
     <property name="path-type">xpath</property>
     <property name="datalist">[{'name'='senderid','nullEnable'=true,'exp'='/Request/SenderID'},{'name'='requestcontent','nullEnable'=false,'exp'='/me/message/content'},{'name'='ConsumerIp','nullEnable'=false,'exp'='/me/properties/RemortIP'},{'name'='requestdatetime','nullEnable'=false,'exp'='/me/properties/RequestDatetime'},{'name'='appname','nullEnable'=false,'exp'='/me/sys/appname'},{'name'='servicename','nullEnable'=false,'exp'='/me/sys/servicename'}]</property>
     <property name="namespaces"></property>
    </properties>
   </endpoint>
   <endpoint name="log2" location="561,92" type="visit_log">
    <properties>
     <property name="path-type">xpath</property>
     <property name="datalist">[{'name'='resultcount','nullEnable'=true,'exp'='count(//Records/Record)'},{'name'='responsecontent','nullEnable'=true,'exp'='/me/message/content'},{'name'='responsedatetime','nullEnable'=true,'exp'='/me/properties/ResponseDatetime'},{'name'='producerIp','nullEnable'=true,'exp'='/me/properties/RequestServiceIp'}]</property>
     <property name="namespaces"></property>
    </properties>
   </endpoint>
   <connection name="conn1" srcEndpoint="Http_Input" srcTerminal="output" targetEndpoint="log1" targetTerminal="input"/>
   <connection name="conn2" srcEndpoint="http_Request" srcTerminal="output" targetEndpoint="log2" targetTerminal="input"/>
   <connection name="conn3" srcEndpoint="log1" srcTerminal="output" targetEndpoint="http_Request" targetTerminal="input"/>
   <connection name="conn4" srcEndpoint="log2" srcTerminal="output" targetEndpoint="Http_Reply" targetTerminal="input"/>
  </flow>
 </executeGroup>
</broker>

