<?xml version="1.0" encoding="UTF-8"?>

<broker name="broker1">
 <executeGroup name="group1">
  <flow name="ws_flow" instances="3" message_level="">
   <endpoint name="Ws_Input" location="159,136" type="ws_input">
    <properties>
     <property name="port">80</property>
     <property name="max-IdleTime">30000</property>
     <property name="protocol-Flag">http</property>
     <property name="service-Name">080</property>
     <property name="port-Name">800</property>
     <property name="context-Path">aa</property>
     <property name="wsdl-Filename">ss</property>
     <property name="keystore-Path"></property>
     <property name="keystore-Password"></property>
     <property name="namespace">00</property>
    </properties>
   </endpoint>
   <endpoint name="Ws_Request" location="368,136" type="ws_request">
    <properties>
     <property name="auth-UserName"></property>
     <property name="soap-Action"></property>
     <property name="proxy-Host"></property>
     <property name="content-Type">text/xml;charset=utf-8</property>
     <property name="auth-Password"></property>
     <property name="auth-Type">none</property>
     <property name="request-Method">POST</property>
     <property name="keystore-Path"></property>
     <property name="keystore-Password"></property>
     <property name="proxy-Domain"></property>
     <property name="accept-Encoding">gzip</property>
     <property name="proxy-Workstation"></property>
     <property name="ws-Url">/</property>
     <property name="proxy-Port"></property>
     <property name="protocol-Flag">http</property>
     <property name="http-Version">HTTP 1.1</property>
     <property name="connection-TimeOut"></property>
     <property name="proxy-Flag">false</property>
     <property name="keep-Alive">true</property>
     <property name="accept-Language"></property>
    </properties>
   </endpoint>
   <endpoint name="Ws_Reply" location="575,143" type="ws_reply"/>
   <connection name="conn5" srcEndpoint="Ws_Input" srcTerminal="output" targetEndpoint="Ws_Request" targetTerminal="input"/>
   <connection name="conn6" srcEndpoint="Ws_Request" srcTerminal="output" targetEndpoint="Ws_Reply" targetTerminal="input"/>
  </flow>
 </executeGroup>
</broker>

