<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>config</param-name>
    <param-value>/WEB-INF/config.properties</param-value>
  </context-param>
  <listener>
    <listener-class>com.easymap.ticket.listener.Initialization</listener-class>
  </listener>
   
   <filter>
    <filter-name>IdentificationFilter</filter-name>
    <filter-class>com.easymap.ticket.listener.IdentificationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IdentificationFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  
  
 
  
   <servlet>
    <servlet-name>GetUserID</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.GetUserID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserID</servlet-name>
    <url-pattern>/GetUserID</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ImgJpgQuery</display-name>
    <servlet-name>ImgJpgQuery</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ImgJpgQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgJpgQuery</servlet-name>
    <url-pattern>/ImgJpgQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TLGGraphQuery</display-name>
    <servlet-name>TLGGraphQuery</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.TLGGraphQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TLGGraphQuery</servlet-name>
    <url-pattern>/TLGGraphQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RYXXQuery</display-name>
    <servlet-name>RYXXQuery</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.RYXXQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RYXXQuery</servlet-name>
    <url-pattern>/RYXXQuery</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ImgQuery</display-name>
    <servlet-name>ImgQuery</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ImgQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgQuery</servlet-name>
    <url-pattern>/ImgQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxTJSRequest</display-name>
    <servlet-name>ProxTJSRequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ProxTJSRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxTJSRequest</servlet-name>
    <url-pattern>/ProxTJSRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TWBQuery</display-name>
    <servlet-name>TWBQuery</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.TWBQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TWBQuery</servlet-name>
    <url-pattern>/TWBQuery</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ProxTARequest</display-name>
    <servlet-name>ProxTARequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ProxTARequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxTARequest</servlet-name>
    <url-pattern>/ProxTARequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxTWZCRequest</display-name>
    <servlet-name>ProxTWZCRequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ProxTWZCRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxTWZCRequest</servlet-name>
    <url-pattern>/ProxTWZCRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxTWZCRRequest</display-name>
    <servlet-name>ProxTWZCRRequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ProxTWZCRRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxTWZCRRequest</servlet-name>
    <url-pattern>/ProxTWZCRRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TLGQuery</display-name>
    <servlet-name>TLGQuery</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.TLGQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TLGQuery</servlet-name>
    <url-pattern>/TLGQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxTWZRequest</display-name>
    <servlet-name>ProxTWZRequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ProxTWZRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxTWZRequest</servlet-name>
    <url-pattern>/ProxTWZRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxWBRequest</display-name>
    <servlet-name>ProxWBRequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ProxWBRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxWBRequest</servlet-name>
    <url-pattern>/ProxWBRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProxRequest</display-name>
    <servlet-name>DelProxRequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.DelProxRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProxRequest</servlet-name>
    <url-pattern>/DelProxRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxRequest</display-name>
    <servlet-name>ProxRequest</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.ProxRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxRequest</servlet-name>
    <url-pattern>/ProxRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuerySameCart</display-name>
    <servlet-name>QuerySameCart</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.QuerySameCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuerySameCart</servlet-name>
    <url-pattern>/QuerySameCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryCxhList</display-name>
    <servlet-name>QueryCxhList</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.QueryCxhList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCxhList</servlet-name>
    <url-pattern>/QueryCxhList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTwo</display-name>
    <servlet-name>QueryTwo</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.QueryTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTwo</servlet-name>
    <url-pattern>/QueryTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOne</display-name>
    <servlet-name>QueryOne</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.QueryOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOne</servlet-name>
    <url-pattern>/QueryOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Query</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPoint</display-name>
    <servlet-name>QueryPoint</servlet-name>
    <servlet-class>com.easymap.ticket.servlet.QueryPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPoint</servlet-name>
    <url-pattern>/QueryPoint</url-pattern>
  </servlet-mapping>
  
</web-app>