body,div,ul,ol,li,p {margin:0;padding:0;}
body {font-size:12px; color:#daac79;background:#666;}
a{color:#bf966a;text-decoration:none;}
ol,ul {list-style:none;}
.table_font_center td{
	text-align:center;
	
	}
.table_style{
	font-family: "Microsoft YaHei", "ו", "Segoe UI", sans-serif;font-size: 10px;
			    display: table;
            
    border-spacing: 2px;
    border-color: grey;
    border-top:#CECFCE 1px solid;
	border-left:#CECFCE 1px solid;
}	
.table_style td{
	border-right:#CECFCE 1px solid;
	border-bottom:#CECFCE 1px solid;
	padding:2px;
	line-height:14px;
	 height:15px;
	}
	.table_style tr{
	 height:15px;
	}
.imgHide{
    	 position:relative;
    	 width:106px;
    	 height:124px;
    	 margin-top:-125px;
 }
    
    .imgHide:hover{
    	/*  border:1px dotted #285295; */
    	 transition: border 0.5s;
	    -o-transition: border 0.5s;
	    -webkit-transition: border 0.5s;
	    -moz-transition: border 0.5s;
    }
    
    .imgHide:hover .picInfo{
    	opacity:0.8;
    	transition: all 0.5s;
	    -o-transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
    }
    
    .picInfo {
    	position:absolute;
    	bottom:0px;
    	width:106px;
    	height:25px;
    	text-align:center;
    	line-height: 30px;
    	background-color: #285295;
    	opacity:0;
    	color:white;
    }
    
    .picInfo:hover {
    	cursor: pointer;
    	opacity:0.8;
    	transition: all 0.5s;
	    -o-transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
    }
		
.nodetext {
	font-size: 12px ;
	font-family: SimSun;
	fill:#000000;
}

.linetext {
	font-size: 12px ;
	font-family: SimSun;
	fill:#0000FF;
	fill-opacity:0.0;
}
img{display:block; border:0;}
.fl{float: left}
.focus{width:1000px; height:536px;margin:0 auto;}
.focusbox{background-color:#1C1C1C; position:relative;}
.focusimg{border:5px solid #2F2F2F; width:990px; height:376px; position:relative; overflow:hidden;-webkit-perspective: 1300px;}
.fimglist{width:99300px; position:relative;-moz-perspective: 1300px;}
.fimglist img{display:block; width:990px; height:376px; cursor:pointer;}
.fimglist li{width:990px; height:376px; float:left;-webkit-transform-origin:50% 100%;transform-origin:50% 100%;}
.fimglist li.onpre{-webkit-animation:onpre .5s ease-in-out;animation:onpre .5s ease-in-out;opacity:0;-webkit-transform:scale(0.8,0.8);transform:scale(0.8,0.8);}
@-webkit-keyframes onpre{
    0%{opacity:1;-webkit-transform:rotateY(0deg);}
    100%{opacity:0;-webkit-transform:rotateY(90deg)}
}
@keyframes onpre{
    0%{opacity:1;transform:rotateY(0deg);}
    100%{opacity:0;transform:rotateY(90deg)}
}
.focustool{width:600px; overflow:hidden; padding:5px 0 10px; margin:0 auto; position:relative;}
.ftoollist{width:4655px; position:relative;}
/*
.ftoollist img{display:block; width:129px; height:69px; margin-bottom:3px;}*/
.ftoollist img{display:block;}
.ftoollist a{background-color:#1C1C1C; display:block; width:129px; padding:4px 0 4px 4px; position:relative;-webkit-transition:all .3s linear;transition:all .3s linear;}
.ftoollist li{float:left; cursor:pointer; -webkit-transition:all .3s linear; transition:all .3s linear;}
.ftoollist .imgname{line-height:25px; text-align:center; color:#FFF; font-family:\5FAE\8F6F\96C5\9ED1; font-weight:400; font-size:18px; height:25px; overflow:hidden; cursor:pointer;}
.ftoollist .imgshortcat{line-height:20px; text-align:center; color:#7D7D7D; font-size:12px; height:20px; overflow:hidden; cursor:pointer;}
.ftoollist a:hover{background-color:#503769; padding:4px; margin-right:-4px; z-index:100; top:-5px;}
.ftoollist a:hover .imgname{color:#DBC98C;}
.ftoollist a:hover .imgshortcat{color:#FFF;}
.ftoollist .on a{background-color:#503769; padding:4px; margin-right:-4px; z-index:100; top:-5px;}
.ftoollist .on .imgname{color:#DBC98C;}
.ftoollist .on .imgshortcat{color:#FFF;}

.imglist li{float:left;cursor: pointer;margin: 3px}
/*
.imglist li a img{width: 100px;height: 100px}
imglist li a{display: block;}
*/
.focus-page-btn {
	width: 66px;
	height: 66px;
	background: url('../img/focus-page-btns.png') no-repeat;
	position: absolute;
	top: 25px;
	z-index: 110;
}
.focus-btn-prev {
	background-position: 0 0;
	left: 0px;
}
.focus-btn-next {
	background-position: -66px 0;
	right: 0px;
}
.square{width: 100px;height: 100px;text-align: center;position: relative;}
.square a{position: absolute;}

 